.login-page{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
}
.login-page > div:first-child{
  margin-right: 20px;
}

.d-flex{
  display: flex;
  background-color: gray;
  justify-content: space-between;
}